/* .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  ul.theList {
    padding: 0;
    font-family: Arial;
  }

  li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 5px;
    font-family: Arial;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
  } */


 .TodayTaskList {
  list-style-type: none;
  font-family: Arial;
   width:380px;
    padding:5px; 
    margin : 5px; 
} 

.TodayTaskName {
  display : block;
   padding:15px; 
   margin:15px; 
   border : 1px solid #ebebe0; 
   border-radius: 5px; 
   font-size: 16px;
   cursor: pointer;
   box-shadow: 0.5px 0.5px 0.5px #b8b5b4;
   box-shadow: 0 0.2px 0.4px 0 rgba(0,0,0,0.2), 0 0.2px 0.8px 0 rgba(0,0,0,0.17);
}

.TodayTaskName:hover{
  border : 1px solid #42b7dd; 
  transform: translate(2px, 2px);
}

.Todayp {
  display: inline;
  align-items: left;
}


