.AddReminder {
    width: 103.3px;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 5px;
    font-family: Arial;
    padding-left: 3px;
    color: #4f4f4f; 
    align-content: center;
  }

  .AddReminderCard {
    padding: 5px;
    font-size: 12px;
    width: 103.3px;
    height: 60px;
    background-color: white;
    box-shadow: 0.5px 0.5px 0.5px #b8b5b4;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.17);
    border-radius: 1%;
  }

  .AddReminderCard:hover {
    /* background-color: #e7ecf1; */
    cursor: pointer;
    transform: translate(0.5px, 0.5px);
    }

    .addReminder {
      margin-left:32px;
      color:rgb(156, 155, 155);
    }

    .textadd {
      margin-left:20px;
      color:rgb(156, 155, 155);
    }