
 .SomedayDeleteTaskList {
    list-style-type: none;
    font-family: Arial;
     width:380px;
      padding:5px; 
      margin : 5px; 
  } 
  
  .SomedayDeleteTaskName {
    display : block;
     padding:10px; 
     margin:10px; 
     border : 1px solid #ebebe0; 
     border-radius: 5px; 
     font-size: 16px;
     cursor: pointer;
     box-shadow: 0.5px 0.5px 0.5px #b8b5b4;
     box-shadow: 0 0.2px 0.4px 0 rgba(0,0,0,0.2), 0 0.2px 0.8px 0 rgba(0,0,0,0.17);
  }
  
  .SomedayDeleteTaskName:hover{
    border : 1px solid #42b7dd; 
    transform: translate(2px, 2px);
  }
  
  .deleteSomedayp {
    display: inline;
    align-items: left;
    padding-left: 60px;
  }
  
  .deleteSomeday {
    display:inline;
    color: gray;
    padding-right:140px;
    align-content: right;
  }

  .delSubTaskSomeday {
      padding-right:80px;
  }
  