.SubTaskCard {
    position: absolute;
    font-size: 10px;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: white;
    /* box-shadow: 1px 1px 1px #b8b5b4;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.17); */
    border-radius: 4px;
  }

  .SubTask {
    position: relative;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
  }
/* 
  li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 5px;
    font-family: Arial;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
  }
  
  ul.theSubTask {
    padding: 0;
    font-family: Arial;
  } */
 