

 .theSubTaskList {
      list-style-type: none;
       width:340px;
        padding:2px; 
        margin : 1px; 
    } 

 .theSubTaskName {
      display : block;
       padding:14px; 
       margin:14px; 
       border : 1px solid #ebebe0; 
       border-radius: 5px; 
       font-size: 15px;
       box-shadow: 0.5px 0.5px 0.5px #b8b5b4;
       box-shadow: 0 0.2px 0.4px 0 rgba(0,0,0,0.2), 0 0.2px 0.8px 0 rgba(0,0,0,0.17);
    }

    .theSubTaskName:hover{

        border : 1px solid #42b7dd; 
        transform: translate(2px, 2px);
    }
  

 