.Tasks {
  width: 350px;
  height: auto;
  margin-top: 50px;
  margin-left: 28px;
  font-size: 25px;
  font-family: Arial;
  padding-left: 8px;
  color: #4f4f4f; 
}

.Card {
  padding: 5px;
  font-size: 20px;
  width: 420px;
  height: 420px;
  background-color: white;
  box-shadow: 1px 1px 1px #b8b5b4;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.17);
  border-radius: 1%;

  overflow-y: scroll;
}

.Task {
  margin: 10px;
  padding: 15px;
  cursor: pointer;
}

.DisplayTasks
{
white-space: pre-wrap;
z-index: -1;
margin-top:2px;
font-size: 14px;
}

.li{
cursor: pointer;
}

.Task:hover {
background-color: #e3e4e5;
cursor: pointer;
}

.Space {
  margin: 15px;
}