
.left {
  float: left;
  height: 100%;
  background-color: #f9fafc;
  overflow: hidden;
  margin-block-start: 0.5%;
  
}
.show-menu{
  width: 20%;
  transition: width 300ms;
}
.hide-menu{
  width: 0px;
  transition: width 300ms;
  
}

.right {
 float:right;
  width: 80%;
  background-color: #eff0f2;
  height: 600px;
  margin-block-start: 0.5%;
  
}

.show-hmenu{
  width: 80%;
  transition: width 300ms;
}

.show-fmenu{
  width: 100%;
  transition: width 300ms;
}

.button {
  background-color:#5d8eef; /* blue */
  border: none;
  color: white;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px ;
  border-radius: 18px;
  cursor: pointer;
}

.content {
  text-align: center;
}

.strong{
  color: #5d8eef;
  padding-right: 60px;
  padding-left: 60px;
}

.h3{
  padding: 10px;
  background-color:#f4f5f7; 
 margin-top: 25px;
 color:"gray";
 cursor: pointer;
}

.img {
  width:250px;
  border-radius: 50%;
  background-color:#5d8eef;
 margin-left: 60%;
 margin-bottom: 60%;
}


.InputTask {
  border: none;
  position: absolute;
  border-radius: 4px;
  margin: 20px;
  font-size: 25px;
  width: 350px;
  padding:4px;
  background-color: #f3f2f2;
  text-emphasis-color: rgb(214, 211, 211);
}